/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
   .top-wrapper h2 {
    font-size: 24px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
  
  Body {
    width: 100%;
  }
  
  .Item-tambahan h2 {
    color: #45aaf2;
  }
  
  .container-gallery {
    height: 1950px;
  }
  
  .Gallery {
    width: 100%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
   .menu-icon {
     display: block;
   }
  
  .top-wrapper h1 {
    font-size: 20px;
    line-height: 32px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  Body {
    width: 100%;
  }
  
  .Item-tambahan {
    opacity: 0.5;
  }
  
  .Item-tambahan h2 {
    text-align: center;
    font-size: 24px;
    opacity: 1;
  }
  
  .Gallery {
    width: 100%;
  }
  
  .Gallery img {
    width: 95%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .Gallery p {
    line-height: 1px;
  }
}
